@import "./variables.css";

@font-face {
    font-family: "RobotoSlab-Regular";
    src: url("../assets/fonts/RobotoSlab-Regular.ttf");
}

@font-face {
    font-family: "Stanley";
    src: url("../assets/fonts/Stanley.otf");
}

@font-face {
    font-family: "Candara";
    src: url("../assets/fonts/candara.ttf");
}

@font-face {
    font-family: "Candara-Bold";
    src: url("../assets/fonts/ofont.ru_Candara.ttf");
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.back {
    background-color: var(--primary-color);
    padding: 8px 0 8px 0;
    width: 100%;
}

.sale-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.sale {
    color: var(--secondary-text-color);
    font-size: 1.1rem;
}

.main-header {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: flex-end;
    padding: 50px 0 30px 0;
}

.main__info {
    display: flex;
    flex-direction: column;

}

.main__phone {
    font-family: RobotoSlab-Regular;
    color: var(--primary-text-color);
    font-size: 1.2rem;
    text-decoration: none;
}

.main__description {
    font-family: RobotoSlab-Regular;
    color: var(--primary-text-color);
    font-size: 0.8rem;
    margin-top: 5px;
}



.icon__image {
    text-decoration: none;
}

.background {
    width: 100%;
    background-color: var(--secondary-color);
}

.nav-wrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 18px 0 18px 0;
}

.nav__link {
    color: var(--main-text-color);
    text-decoration: none;
    font-size: 1.1rem;
    font-family: Candara;
}

.link-sale {
    color: var(--primary-color);
}

.nav__link:hover {
    font-family: Candara-Bold;
}

.poster-wrapper {
    background: linear-gradient(to right, rgba(220, 239, 48, 1), rgba(0, 70, 50, 1));
    display: flex;
}

.flex {
    display: flex;
    align-items: center;
    width: 80%;
    padding: 2rem;
}

.fotoo {
    width: 100%;
}

.first {
    padding-right: 1rem;
}

.cards-wrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 239px;
}

.card__product {
    width: 100%;
}

.card__product-spacing {
    width: 95%;
}

.card__product-border-line {
    border-top: 2px solid rgba(224, 224, 224, 1);
}

.icons-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.wrapper-end {
    display: flex;
    justify-content: flex-end;
}

.icon-first {
    width: 18%;
}

.icon-second {
    width: 10%;
}

.icon__image {
    width: 100%;
}

.image-wrapper {
    width: 95%;
    height: 100%;
    margin-top: 50px;
}

.image-card {
    width: 100%;
    height: 90%;
}



.rating-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-top: 60px;
}

.rating-text {
    font-family: RobotoSlab-Regular;
    font-size: 1rem;
    color: rgba(133, 133, 133, 1);
}

.link-text {
    color: rgba(133, 133, 133, 1);
}

.link-text-none {
    text-decoration: none;
}

.rating-icon {
    margin-left: 14px;
}

.description-product-wrapper {
    font-family: RobotoSlab-Regular;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 15px;
}

.description-gift {
    font-size: 1rem;
    color: rgba(124, 124, 124, 1);
}

.description-name {
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 1);
}

.description-price {
    font-size: 1.4rem;
    color: rgba(0, 70, 50, 1);
}

.description-name-wrapper {
width: 80%;
text-align: initial;
margin-top: 8px;
}

.description-price {
    margin-top: 15px;
}

.sale {
    display: flex;
    margin-top: 17px;
    align-items: baseline;
}

.sale-wrap {
    font-size: 1rem;
    color: rgba(124, 124, 124, 1);
    text-decoration: line-through;
    margin-left: 12px;
}






























.main {
    font-size: 50px;
    text-align: center;

}