:root {

    --primary-color: rgba(0, 70, 50, 1);
    --secondary-color: rgba(192, 216, 215, 0.2);
    --main-text-color: rgba(0, 0, 0, 1);
    --input-text-color : rgba(128, 128, 128, 1);

    --primary-text-color: rgba(51, 51, 51, 1);
    --secondary-text-color: rgba(255, 255, 255, 1);

}