@import "./variables.css";

/* .header { */
    /* background: url("https://wallpaper.dog/large/20339675.jpg"); */
    /* background: url("https://thumbs.dreamstime.com/b/portrait-funny-french-bulldog-dog-dressed-up-pirate-bride-costume-hat-saber-hook-arms-portrait-funny-232151448.jpg"); */
    /* background-position: center; */
    /* background-size: 1500px 500px; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */

    /* background: linear-gradient(70deg,darkmagenta , magenta); */
/* } */
/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image-with-border {
    padding: 2rem;
    border-width:24px ;
    border-style: solid;
    border-image: linear-gradient(darkmagenta , magenta) 30;

} */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form {
    display: inherit;
    flex-direction: column;
}

.input {
    margin-top: var(--m-margin);
    padding: var(--s-padding);
    width: 20rem;
    background-color: var(--primary-bg);
    border: none;
    border-bottom:2px solid ;
    border-image: radial-gradient(darkcyan , cyan) 100;
    color: var(--secondary-text-color);
    font-size: var(--l-font-size);
}

.input::placeholder {
    color: var(--secondary-text-color);

}

.input:focus {
    outline: none;
}

.button-wrapper {
    display: inherit;
    justify-content: center;
}

.nav {
    height: 100vh;
}