@import "./variables.css";

@font-face {
    font-family: "Inter";
    src: url("../public/fonts/Inter/static/Inter-Light.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../public/fonts/Roboto/Roboto-Light.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color : inherit;
}

li {
    list-style-type: none;
}

.container {
    /* width: 1280px; */
    background: var(--primary-background );
    color: var(--secondary-text-color);
    font-size: var(--l-font-size);
    font-family: 'Inter';
    height: 100vh;
    width: 100vw;
} 

.personal-avatar {
    width: 10rem;
    border-radius: 50%;
}

.content {
    padding: var(--xl-padding);
    background: var(--third-background );
    width: 100%;

}

.message {
    padding: var(--xl-padding);
    background-color: var(--third-bg-color);
    color: var(--fourth-text-color);
    border-radius: 2rem;
}

.personal-page {
    padding: var(--xl-padding);
}

.nav {
    display: flex;
    flex-direction: column;
    margin-top: var(--l-margin);
    padding: var(--xl-padding) var(--m-padding);
    border-right: 1px solid rgba(245, 245, 245, 0.5);
}

.nav:first-child {
    margin-top: 0;
}

.textarea {
    background-color: inherit;
    border: none;
    outline: none;
    font-size: var(--l-font-size);
    color :var(--secondary-text-color);
    font-family: "Inter";
    border: 2px solid var(--secondary-border-color);
    border-radius: .4rem;
    padding: var(--m-padding);
    width: 70%;
}

.personal-col {
    width: 100%;
    border: 1px solid var(--primary-border-color);
    text-align: center;
    font-size: var(--x-font-size);
}

.personal-col:first-child {
    border-right: none;
}

.nav__route {
    display: inline-block;
    margin-top: var(--l-margin);
    border-bottom: 1px solid whitesmoke;
}

.personal-data , .personal-name {
    margin-top: var(--m-margin);
}

.personal-name {
    text-align: center;
}

.sender {
    margin-top: var(--xl-margin);
}

.message-status {
    font-family: "Roboto";
    color: green;
}

.message-text {
    margin-top: var(--l-margin);
}

.message-par {
    margin-top: var(--s-margin);
}

.message-par:first-child {
    font-size: var(--x-font-size);
}

.message-par:last-child {
    font-size: var(--s-font-size);
}

.message > .message-container > .personal-avatar:first-of-type {  
    height: 5rem;
    width: 5rem;
}

.message-container {
    display: flex;
    justify-content: space-between;
}

.container , .personal-row {
    display: flex;
}

.button {
    padding: .8rem 4rem ;
    font-size: var(--m-font-size);
    color: var(--third-text-color);
    background-color: var(--primary-bg-color);
    border: none;
    cursor: pointer;
    transition: 400ms ease-in-out;
    margin-top: var(--m-margin);
}

.button:hover {
    color: var(--secondary-text-color);
    box-shadow: 4px 5px 2px var(--secondary-bg-color );
}

.button:active {
    background-color: var(--secondary-text-color);
    color: var(--secondary-bg-color);
    box-shadow: 4px 5px 2px var(--secondary-bg-color );
}

.modal {
    position: absolute;
    top: 90%;
    left: 90%;
    display: flex;
    flex-direction: column;
    transform: translate(-90%,-90%);  
}

#phone-number {
    background-color: inherit;
    font-size: var(--m-font-size);
    border: none;
    outline: none;
    border-bottom:1px solid var( --primary-border-color );
    margin-top: var(--s-margin);
    color: var(--third-text-color);
    padding: var(--s-padding);
}

#phone-number::placeholder {
    color: var(--third-text-color);
}

/* .button:not(.button:nth-child(4)) {
    background-color: blue;
} */
/* textarea:focus {
    background-color: red;
} */
/* .button:hover {
    color: var(--secondary-text-color);
    box-shadow: 23px 12px 4px var(--secondary-bg-color );

} */
/* * SM */
/* @media (min-width: 320px) and (max-width: 575px)  {

    a {
        color: var(--fourth-text-color);
    }

    .personal-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 85vh;
    }

    .container {
        flex-direction: column;
        height: 100%;
        position: relative;
    }

    .nav {
        flex-direction: row;
        justify-content: space-evenly;
        position: sticky;
        top: 0px;
        background: var(--third-bg-color) ;
    }

    .nav__route {
        margin-top: 0;
    }


    .personal-page {
        padding: var(--s-padding) var(--l-padding);
    }

    .modal {
        display: none;
    }

    .portal {
        display: none;
    } 

    .portal.show {
        display: block;
        opacity: .7;
        height: 100vh;
        width: 100vw;
        position: absolute;
        background-color: black ;
    }

    .modal.show {
        display:flex;
        padding: var(--xxl-padding);
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 1;
    }

    .personal-row{
        padding: 2rem;
    }

    .personal-col {
        padding: 1rem;
    }

    .personal-avatar-wrapper {
        display: flex;
        justify-content: center;
    }

    .message > .message-container > .personal-avatar:first-of-type {
        width: 3.2rem;
        height: 3.2rem ;
    }

    .message {
        padding: var(--m-padding);
    }

    .message-container {
        flex-direction: column;
        align-items: flex-end;
    }

    .message-text {
        margin-top: var(--m-margin);
        font-size: var(--m-font-size);
    }

    .message-status {
        font-size: var(--m-font-size);
    }

    .textarea {
        width: 100%;
    }
} */
/* *M  */
/* @media (min-width: 576px) and (max-width: 776px)   {
    .container {
      background: darkmagenta;
    }
} */

/* *L */
/* @media (min-width: 776px) and (max-width: 1200px)  {
    .container {
      background: magenta;
    }
} */