:root {
    /* * BG COLORS */
    --primary-bg-color : #008b8b ; 
    --secondary-bg-color : #34bfbf ;
    --third-bg-color : #b3e1e1 ;
    
    /* * Background */
    --primary-background : linear-gradient( 30deg, #008b8b , #34bfbf) ;
    --secondary-background : linear-gradient( 30deg, #34bfbf ,#008b8b ) ;
    --third-background : linear-gradient( 30deg, #319d9d ,#82cfcf ) ;
    /* --secondary-background : url("") ; */

    /* * Border-color */
    --primary-border-color : #ffffff;
    --secondary-border-color :#0f8282 ;
    --third-border-color : #3cdcdc;

    /* * Line size */
    --xxl-line-size : 2rem;
    --xl-line-size : 1rem;
    --l-line-size : .8rem;
    --m-line-size : .5rem;
    --s-line-size : .15rem;

    /* * Padding */
    --xxl-padding : 5rem ;
    --xl-padding : 3rem ;
    --l-padding : 2rem ;
    --m-padding : 1.2rem ;
    --s-padding : .8rem ;

    /* * Margin */
    --xxl-margin : 5rem ;
    --xl-margin : 3rem ;
    --l-margin : 2rem ;
    --m-margin : 1.2rem ;
    --s-margin : .8rem ;

    /* * Width */
    --full-width: 100% ;
    --quarter-to-full-width: 75% ;
    --half-to-full-width: 50% ;
    --quarter-past-zero-width: 25% ;

    /* * Fullscreen size */
    --full-height : 100vh ;
    --full-width : 100vw ;

    /* * text-color */
    --primary-text-color : #ffffff ;
    --secondary-text-color : #f0f8ff ;
    --third-text-color : #add8e6 ;
    --fourth-text-color : #393d3f ;

    /* * Font-size */
    --xxl-font-size : 3rem;
    --xl-font-size : 1.7rem;
    --l-font-size : 1.2rem;
    --m-font-size : 1rem;
    --s-font-size : .8rem;


}